[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://android.googlesource.com/platform/external/zlib
[submodule "third_party/stblib"]
	path = third_party/stblib
	url = https://github.com/nothings/stb
[submodule "third_party/lodepng"]
	path = third_party/lodepng
	url = https://github.com/lvandeve/lodepng
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/freeglut"]
	path = third_party/freeglut
	url = https://github.com/dcnieho/FreeGLUT
	branch = FG_2_8_1_RC1
[submodule "third_party/omaha"]
	path = third_party/omaha
	url = https://github.com/google/omaha
[submodule "third_party/image_compression"]
	path = third_party/image_compression
	url = https://github.com/google/image-compression
[submodule "third_party/gyp"]
	path = third_party/gyp
	url = https://chromium.googlesource.com/external/gyp.git
[submodule "third_party/tinyxml"]
	path = third_party/tinyxml
	url = https://github.com/icebreaker/TinyXML
